<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Réalisez votre bonne action du jour !</h2>
                <p>Nous développons et maintiendrons l'application grâce à votre aide</p>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">Je vais vous aider !</a>
                </div>
            </div>
        </div>
    </div>
</section>
