<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Comment puis-je vous aider ?</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Améliorer le code</h3>
                    <p class="text-muted">
                        Si vous avez des bases ou une expertise dans un domaine informatique. Nous serions très heureux de vous acceuillir parmi nos collaborateurs. On attends vos <a target="_blank" href="https://github.com/food-limit">pull requests</a> !
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linkedin wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Faire une recommandation</h3>
                    <p class="text-muted">Nous essayons d'être de plus en plus visibles et reconnus sur Linkedin. Soyez libres de nous recommander ! Nos adresses : <a target="_blank" href="https://www.linkedin.com/in/lauthieb/">Laurent</a> & <a target="_blank" href="https://www.linkedin.com/in/ludovic-landschoot-426a87135/">Ludovic</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bitcoin wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Faire un don</h3>
                    <p class="text-muted">Une <a class="page-scroll" href="#donate">donation</a> est généralement l'acte de récompenser le travail bien fait. Nous serions très honoré d'en recevoir de votre part.</p>
                </div>
            </div>
        </div>
    </div>
</section>
