
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Fonctionnalités, simplicité, efficacité !</h2>
                        <p class="text-muted">Regardez tout ce que vous pourrez faire avec Food Limit !</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-cutlery text-primary"></i>
                                    <h3>Gestion alimentaire</h3>
                                    <p class="text-muted">Vous pourrez facilement gérer vos denrées et être avertis afin de ne plus rater la date de péremption.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-home text-primary"></i>
                                    <h3>Gestion du foyer</h3>
                                    <p class="text-muted">Vous pourrez être plusieurs à partager la même liste de denrées.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-heart text-primary"></i>
                                    <h3>Partage alimentaire</h3>
                                    <p class="text-muted">Si vous sentez que vous n'arriverez pas à consommer certaines denrées, vous pourrez les partager via l'application au lieu de les jeter !</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Gratuit</h3>
                                    <p class="text-muted">L'application Food Limit sera et restera entièrement gratuite et open source sur <a target="_blank" href="https://github.com/food-limit">Github</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
